{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Section</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Anchor</th>
                <td>{{ entity.anchor }}</td>
            </tr>
            <tr>
                <th>Href</th>
                <td>{{ entity.href }}</td>
            </tr>
            <tr>
                <th>Itemorder</th>
                <td>{{ entity.itemorder }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Isvisible</th>
                <td>{{ entity.isVisible }}</td>
            </tr>
            <tr>
                <th>Ispage</th>
                <td>{{ entity.isPage }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('section') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('section_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
