{%for ps in collection%}
<section id="{{ps.anchor}}" class="{{ps.class}}">
	<div class="container">
		<div class="row">
			<div class="{{ps.wrapper}} {{ps.offset}}">
			{{ render_section({'entity':ps.section, 'type':ps.type}) }}
			</div>
		</div>
	</div>
</section>
{%endfor%}
