<div class="alert alert-info">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<strong>Promocja!</strong> Do końca tygodnia dajemy rabat 25% na wszystkie strony.
	Zadzwoń <strong><span class="icon icon-phone"> </span>  792 775 785</strong> i podaj kod: <u>AKD8</u>
</div>
<br />

{% for article in entity.articles %}
<div class="col-lg-3 col-sm-6">

	{%if article.abstract%}
	<a class="icon" href="{{article.abstract}}">
<i class="icon-{{article.type.value}} brown" data-bottom-center="opacity: 0;" data-bottom-bottom="opacity: 1;"></i>
	</a>
	{%else%}	
<i class="icon-{{article.type.value}} brown" data-bottom-center="opacity: 0;" data-bottom-bottom="opacity: 1;"></i>
	{%endif%}
	
	{{article.content|raw}}
	{%if article.abstract%}
	<a class="btn btn-more btn-mini" href="{{article.abstract}}">Więcej</a>
	{%endif%}
</div>
{% endfor %}
