<!--start #1 gallery modal-->
<div id="gallery_{{entity.id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gallery_{{entity.id}}" aria-hidden="true">
			<div class="modal-body">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 margin">
							<button type="button" class="previous" href="#gallery_3" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-left"></i></button>
							<button type="button" class="back" data-dismiss="modal" aria-hidden="true"><i class="icon-remove-circle"></i></button>
							<button type="button" class="forward" href="#gallery_2" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-right"></i></button>
						</div>
						<!--
						   -<div class="col-lg-12">
						   -    <div id="carousel_modal_{{entity.id}}" class="carousel slide fadeing">
						   -        <div class="carousel-inner">
						   -            {% for sm in entity.lastSectionMedias %}
						   -            <div class="item {%if loop.first%}active{% else %}inacitve{%endif%}">
						   -            {% media sm.media, 'large' with {'class': 'img-responsive'} %}
						   -            </div>
						   -            {% endfor %}
						   -        </div>
						   -        <button class="left carousel-control" href="#carousel_modal_{{entity.id}}" data-slide="prev"><i class="icon-chevron-left"></i></button>
						   -        <button class="right carousel-control" href="#carousel_modal_{{entity.id}}" data-slide="next"><i class="icon-chevron-right"></i></button>
						   -    </div>
						   -</div>
						   -->
						<div class="col-lg-12 col-sm-12">
							{%if entity.firstArticle%}
							<h2>{{entity.firstArticle.title}}</h2>
							{{entity.firstArticle.content|raw}}
							{%endif%}
						</div>
						<div class="col-lg-6 col-sm-6 margin">

							{%for sm in entity.sectionMedias%}
							<a href="{{entity.getSectionParameterByName('Adres strony internetowej')}}">{% media sm.media, 'large' with {'class': 'img-responsive'} %}</a>
							
							<br />
							{%endfor%}
						</div>
						<div class="col-lg-6 col-sm-6 margin icons">
							<div class="row">
								{%if entity.getSectionParameterByName('Adres strony internetowej')!="" %}
								<div class="col-lg-2 col-sm-2">
									<i class="icon-home"></i>
								</div>
								<div class="col-lg-10 col-sm-10">
									<h3>Strona internetowa</h3>
									<a href="{{entity.getSectionParameterByName('Adres strony internetowej')}}
" class="btn btn-more btn-mini">Przejdź</a>
<p>
<small><a href="{{entity.getSectionParameterByName('Adres strony internetowej')}}">{{entity.getSectionParameterByName('Adres strony internetowej')}}</a></small>
</p>

								</div>
								{%endif%}
								{%for article in entity.lastArticles%}
								<div class="col-lg-2 col-sm-2">
									<i class="icon-{{article.type.value}}"></i>
								</div>
								<div class="col-lg-10 col-sm-10">
									{%if article.type.name=='Portfolio strona internetowa'%}
									<h3>{{article.title}}</h3>
									<a href="{{article.abstract}}" class="btn btn-more btn-mini">Przejdź</a>
									{%else%}
									<h3>{{article.title}}</h3>
									<p><small>{{article.abstract}}</small></p>
									{{article.content|raw}}
									{%endif%}

								</div>
								{%endfor%}
							</div>
						</div>
						<div class="col-lg-12 col-sm-12 margin">
							<button type="button" class="previous" href="#gallery_3" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-left"></i></button>
							<button type="button" class="back" data-dismiss="modal" aria-hidden="true"><i class="icon-remove-circle"></i></button>
							<button type="button" class="forward" href="#gallery_2" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-right"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--end #1 gallery modal-->

