
			<div class="row">
				<ul class="grid">
					{% for section in entity.sections %}
					<li class="col-lg-4 col-sm-4">
					<a href="#gallery_{{section.id}}" role="button" data-toggle="modal">
						<figure>
						{% media section.firstsectionmedia.media, 'big' with {'class': 'img-responsive'} %}
						<figcaption>
						<h4>{{section.title}}</h4>
						<span>{{section.createdAt|date('Y-m-d')}}</span>
						</figcaption>
						</figure>
					</a>
					</li>
					{% endfor %}
				</ul>
				<div class="col-lg-8 col-offset-2 center">
					{{entity.firstarticle.content|raw}}
				</div>
			</div>
		
	
	<!--new gallery items row-->
	<div class="row">
		<ul class="grid">
		</ul>
		{% for section in entity.sections %}
		{{ render_section({'entity':section}) }}
		{% endfor %}
	</div>

